In [13]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

In [14]:
sus=pd.read_csv("global_data_on_sustainable_energy.csv")

In [15]:
sus.head()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [16]:
sus.shape

(3649, 21)

In [17]:
sus.describe()

,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Land Area(Km2),Latitude,Longitude
count,3649.000000,3639.000000,3480.000000,2718.000000,1.560000e+03,3455.000000,3628.000000,3523.000000,3628.000000,3607.000000,3649.000000,3442.000000,3.221000e+03,1512.000000,3332.000000,3367.000000,3.648000e+03,3648.000000,3648.000000
mean,2010.038367,78.933702,63.255287,113.137498,9.422400e+07,32.638165,70.365003,13.450190,23.968010,36.801182,25743.981745,5.307345,1.598665e+05,11.986707,3.441610,13283.774348,6.332135e+05,18.246388,14.822695
std,6.054228,30.275541,39.043658,244.167256,2.981544e+08,29.894901,348.051866,73.006623,104.431085,34.314884,34773.221366,3.532020,7.736611e+05,14.994644,5.686720,19709.866716,1.585519e+06,24.159232,66.348148
min,2000.000000,1.252269,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110000,1.000000e+01,0.000000,-62.075920,111.927225,2.100000e+01,-40.900557,-175.198242
25%,2005.000000,59.800890,23.175000,3.540000,2.600000e+05,6.515000,0.290000,0.000000,0.040000,2.877847,3116.737300,3.170000,2.020000e+03,2.137095,1.383302,1337.813437,2.571300e+04,3.202778,-11.779889
50%,2010.000000,98.361570,83.150000,32.910000,5.665000e+06,23.300000,2.970000,0.000000,1.470000,27.865068,13120.570000,4.300000,1.050000e+04,6.290766,3.559855,4578.633208,1.176000e+05,17.189877,19.145136
75%,2015.000000,100.000000,100.000000,112.210000,5.534750e+07,55.245000,26.837500,0.000000,9.600000,64.403792,33892.780000,6.027500,6.058000e+04,16.841638,5.830099,15768.615365,5.131200e+05,38.969719,46.199616
max,2020.000000,100.000000,100.000000,3060.190000,5.202310e+09,96.040000,5184.130000,809.410000,2184.940000,100.000010,262585.700000,32.570000,1.070722e+07,86.836586,123.139555,123514.196700,9.984670e+06,64.963051,178.065032

In [18]:
sus.isnull()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3645,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3646,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3647,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3648,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False

In [19]:
sus.dropna

<bound method DataFrame.dropna of            Entity  Year  Access to electricity (% of population)  \
0     Afghanistan  2000                                 1.613591
1     Afghanistan  2001                                 4.074574
2     Afghanistan  2002                                 9.409158
3     Afghanistan  2003                                14.738506
4     Afghanistan  2004                                20.064968
...           ...   ...                                      ...
3644     Zimbabwe  2016                                42.561730
3645     Zimbabwe  2017                                44.178635
3646     Zimbabwe  2018                                45.572647
3647     Zimbabwe  2019                                46.781475
3648     Zimbabwe  2020                                52.747670

      Access to clean fuels for cooking  \
0                                   6.2
1                                   7.2
2                                   8.2
3                                   9.5
4                                  10.9
...                                 ...
3644                               29.8
3645                               29.8
3646                               29.9
3647                               30.1
3648                               30.4

      Renewable-electricity-generating-capacity-per-capita  \
0                                                  9.22
1                                                  8.86
2                                                  8.47
3                                                  8.09
4                                                  7.75
...                                                 ...
3644                                              62.88
3645                                              62.33
3646                                              82.53
3647                                              81.40
3648                                              80.61

      Financial flows to developing countries (US $)  \
0                                            20000.0
1                                           130000.0
2                                          3950000.0
3                                         25970000.0
4                                                NaN
...                                              ...
3644                                         30000.0
3645                                       5570000.0
3646                                         10000.0
3647                                        250000.0
3648                                         30000.0

      Renewable energy share in the total final energy consumption (%)  \
0                                                 44.99
1                                                 45.60
2                                                 37.83
3                                                 36.66
4                                                 44.24
...                                                 ...
3644                                              81.90
3645                                              82.46
3646                                              80.23
3647                                              81.50
3648                                              81.90

      Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
0                                    0.16                             0.0
1                                    0.09                             0.0
2                                    0.13                             0.0
3                                    0.31                             0.0
4                                    0.33                             0.0
...                                   ...                             ...
3644                                 3.50                             0.0
3645                                 3.05                             0.0
3646                                 3.73                             0.0
3647                                 3.66                             0.0
3648                                 3.40                             0.0

      Electricity from renewables (TWh)  ...  \
0                                  0.31  ...
1                                  0.50  ...
2                                  0.56  ...
3                                  0.63  ...
4                                  0.56  ...
...                                 ...  ...
3644                               3.32  ...
3645                               4.30  ...
3646                               5.46  ...
3647                               4.58  ...
3648                               4.19  ...

      Primary energy consumption per capita (kWh/person)  \
0                                             302.59482
1                                             236.89185
2                                             210.86215
3                                             229.96822
4                                             204.23125
...                                                 ...
3644                                         3227.68020
3645                                         3068.01150
3646                                         3441.98580
3647                                         3003.65530
3648                                         2680.13180

      Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                                  1.64
1                                                  1.74
2                                                  1.40
3                                                  1.40
4                                                  1.20
...                                                 ...
3644                                              10.00
3645                                               9.51
3646                                               9.83
3647                                              10.47
3648                                              10.00

      Value_co2_emissions_kt_by_country  \
0                            760.000000
1                            730.000000
2                           1029.999971
3                           1220.000029
4                           1029.999971
...                                 ...
3644                       11020.000460
3645                       10340.000150
3646                       12380.000110
3647                       11760.000230
3648                                NaN

      Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita  \
0                                          NaN         NaN             NaN
1                                          NaN         NaN             NaN
2                                          NaN         NaN      179.426579
3                                          NaN    8.832278      190.683814
4                                          NaN    1.414118      211.382074
...                                        ...         ...             ...
3644                                       NaN    0.755869     1464.588957
3645                                       NaN    4.709492     1235.189032
3646                                       NaN    4.824211     1254.642265
3647                                       NaN   -6.144236     1316.740657
3648                                       NaN   -6.248748     1214.509820

      Density\n(P/Km2) Land Area(Km2)   Latitude  Longitude
0                   60       652230.0  33.939110  67.709953
1                   60       652230.0  33.939110  67.709953
2                   60       652230.0  33.939110  67.709953
3                   60       652230.0  33.939110  67.709953
4                   60       652230.0  33.939110  67.709953
...                ...            ...        ...        ...
3644                38       390757.0 -19.015438  29.154857
3645                38       390757.0 -19.015438  29.154857
3646                38       390757.0 -19.015438  29.154857
3647                38       390757.0 -19.015438  29.154857
3648                38       390757.0 -19.015438  29.154857

[3649 rows x 21 columns]>

In [20]:
sus.drop_duplicates()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [21]:
sus.shape

(3649, 21)

In [22]:
sus.dtypes

Entity                                                               object
Year                                                                  int64
Access to electricity (% of population)                             float64
Access to clean fuels for cooking                                   float64
Renewable-electricity-generating-capacity-per-capita                float64
Financial flows to developing countries (US $)                      float64
Renewable energy share in the total final energy consumption (%)    float64
Electricity from fossil fuels (TWh)                                 float64
Electricity from nuclear (TWh)                                      float64
Electricity from renewables (TWh)                                   float64
Low-carbon electricity (% electricity)                              float64
Primary energy consumption per capita (kWh/person)                  float64
Energy intensity level of primary energy (MJ/$2017 PPP GDP)         float64
Value_co2_emissions_kt_by_country                                   float64
Renewables (% equivalent primary energy)                            float64
gdp_growth                                                          float64
gdp_per_capita                                                      float64
Density\n(P/Km2)                                                     object
Land Area(Km2)                                                      float64
Latitude                                                            float64
Longitude                                                           float64
dtype: object

### What is the percentage of the population with access to electricity in each country and year?

In [23]:
access_to_electricity = sus[['Entity', 'Year', 'Access to electricity (% of population)']]
access_to_electricity

           Entity  Year  Access to electricity (% of population)
0     Afghanistan  2000                                 1.613591
1     Afghanistan  2001                                 4.074574
2     Afghanistan  2002                                 9.409158
3     Afghanistan  2003                                14.738506
4     Afghanistan  2004                                20.064968
...           ...   ...                                      ...
3644     Zimbabwe  2016                                42.561730
3645     Zimbabwe  2017                                44.178635
3646     Zimbabwe  2018                                45.572647
3647     Zimbabwe  2019                                46.781475
3648     Zimbabwe  2020                                52.747670

[3649 rows x 3 columns]

In [28]:
clean_fuels_cooking = sus[['Entity', 'Year', 'Access to clean fuels for cooking']]
clean_fuels_cooking

           Entity  Year  Access to clean fuels for cooking
0     Afghanistan  2000                                6.2
1     Afghanistan  2001                                7.2
2     Afghanistan  2002                                8.2
3     Afghanistan  2003                                9.5
4     Afghanistan  2004                               10.9
...           ...   ...                                ...
3644     Zimbabwe  2016                               29.8
3645     Zimbabwe  2017                               29.8
3646     Zimbabwe  2018                               29.9
3647     Zimbabwe  2019                               30.1
3648     Zimbabwe  2020                               30.4

[3649 rows x 3 columns]

### What is the per capita renewable electricity generating capacity in each country and year?

In [31]:
renewable_capacity_per_capita = sus[['Entity', 'Year', 'Renewable-electricity-generating-capacity-per-capita']]
renewable_capacity_per_capita

           Entity  Year  Renewable-electricity-generating-capacity-per-capita
0     Afghanistan  2000                                               9.22
1     Afghanistan  2001                                               8.86
2     Afghanistan  2002                                               8.47
3     Afghanistan  2003                                               8.09
4     Afghanistan  2004                                               7.75
...           ...   ...                                                ...
3644     Zimbabwe  2016                                              62.88
3645     Zimbabwe  2017                                              62.33
3646     Zimbabwe  2018                                              82.53
3647     Zimbabwe  2019                                              81.40
3648     Zimbabwe  2020                                              80.61

[3649 rows x 3 columns]

### What is the renewable energy share in the total final energy consumption?

In [32]:
renewable_energy_share = sus[['Entity', 'Year', 'Renewable energy share in the total final energy consumption (%)']]
renewable_energy_share

,Entity,Year,Renewable energy share in the total final energy consumption (%)
0,Afghanistan,2000,44.99
1,Afghanistan,2001,45.60
2,Afghanistan,2002,37.83
3,Afghanistan,2003,36.66
4,Afghanistan,2004,44.24
...,...,...,...
3644,Zimbabwe,2016,81.90
3645,Zimbabwe,2017,82.46
3646,Zimbabwe,2018,80.23
3647,Zimbabwe,2019,81.50
3648,Zimbabwe,2020,81.90

In [35]:
# 3. Electricity Generation
electricity_generation = sus[['Entity', 'Year', 'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)', 'Electricity from renewables (TWh)', 'Low-carbon electricity (% electricity)']]
electricity_generation

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity)
0,Afghanistan,2000,0.16,0.0,0.31,65.957440
1,Afghanistan,2001,0.09,0.0,0.50,84.745766
2,Afghanistan,2002,0.13,0.0,0.56,81.159424
3,Afghanistan,2003,0.31,0.0,0.63,67.021280
4,Afghanistan,2004,0.33,0.0,0.56,62.921350
...,...,...,...,...,...,...
3644,Zimbabwe,2016,3.50,0.0,3.32,48.680350
3645,Zimbabwe,2017,3.05,0.0,4.30,58.503407
3646,Zimbabwe,2018,3.73,0.0,5.46,59.412407
3647,Zimbabwe,2019,3.66,0.0,4.58,55.582527
3648,Zimbabwe,2020,3.40,0.0,4.19,55.204216

In [36]:
# 4. Financial Flows
financial_flows = sus[['Entity', 'Year', 'Financial flows to developing countries (US $)']]
financial_flows

           Entity  Year  Financial flows to developing countries (US $)
0     Afghanistan  2000                                         20000.0
1     Afghanistan  2001                                        130000.0
2     Afghanistan  2002                                       3950000.0
3     Afghanistan  2003                                      25970000.0
4     Afghanistan  2004                                             NaN
...           ...   ...                                             ...
3644     Zimbabwe  2016                                         30000.0
3645     Zimbabwe  2017                                       5570000.0
3646     Zimbabwe  2018                                         10000.0
3647     Zimbabwe  2019                                        250000.0
3648     Zimbabwe  2020                                         30000.0

[3649 rows x 3 columns]

In [37]:
# 5. Carbon Emissions
co2_emissions = sus[['Entity', 'Year', 'Value_co2_emissions_kt_by_country']]
co2_emissions

           Entity  Year  Value_co2_emissions_kt_by_country
0     Afghanistan  2000                         760.000000
1     Afghanistan  2001                         730.000000
2     Afghanistan  2002                        1029.999971
3     Afghanistan  2003                        1220.000029
4     Afghanistan  2004                        1029.999971
...           ...   ...                                ...
3644     Zimbabwe  2016                       11020.000460
3645     Zimbabwe  2017                       10340.000150
3646     Zimbabwe  2018                       12380.000110
3647     Zimbabwe  2019                       11760.000230
3648     Zimbabwe  2020                                NaN

[3649 rows x 3 columns]

In [38]:
renewables_percentage_primary_energy = sus[['Entity', 'Year', 'Renewables (% equivalent primary energy)']]
renewables_percentage_primary_energy

           Entity  Year  Renewables (% equivalent primary energy)
0     Afghanistan  2000                                       NaN
1     Afghanistan  2001                                       NaN
2     Afghanistan  2002                                       NaN
3     Afghanistan  2003                                       NaN
4     Afghanistan  2004                                       NaN
...           ...   ...                                       ...
3644     Zimbabwe  2016                                       NaN
3645     Zimbabwe  2017                                       NaN
3646     Zimbabwe  2018                                       NaN
3647     Zimbabwe  2019                                       NaN
3648     Zimbabwe  2020                                       NaN

[3649 rows x 3 columns]

In [39]:
# 6. Economic Indicators
gdp_growth = sus[['Entity', 'Year', 'gdp_growth']]
gdp_growth

           Entity  Year  gdp_growth
0     Afghanistan  2000         NaN
1     Afghanistan  2001         NaN
2     Afghanistan  2002         NaN
3     Afghanistan  2003    8.832278
4     Afghanistan  2004    1.414118
...           ...   ...         ...
3644     Zimbabwe  2016    0.755869
3645     Zimbabwe  2017    4.709492
3646     Zimbabwe  2018    4.824211
3647     Zimbabwe  2019   -6.144236
3648     Zimbabwe  2020   -6.248748

[3649 rows x 3 columns]

In [40]:
gdp_per_capita = sus[['Entity', 'Year', 'gdp_per_capita']]
gdp_per_capita

           Entity  Year  gdp_per_capita
0     Afghanistan  2000             NaN
1     Afghanistan  2001             NaN
2     Afghanistan  2002      179.426579
3     Afghanistan  2003      190.683814
4     Afghanistan  2004      211.382074
...           ...   ...             ...
3644     Zimbabwe  2016     1464.588957
3645     Zimbabwe  2017     1235.189032
3646     Zimbabwe  2018     1254.642265
3647     Zimbabwe  2019     1316.740657
3648     Zimbabwe  2020     1214.509820

[3649 rows x 3 columns]

In [41]:
# 7. Energy Consumption
energy_consumption = sus[['Entity', 'Year', 'Primary energy consumption per capita (kWh/person)', 'Energy intensity level of primary energy (MJ/$2017 PPP GDP)']]
energy_consumption

,Entity,Year,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP)
0,Afghanistan,2000,302.59482,1.64
1,Afghanistan,2001,236.89185,1.74
2,Afghanistan,2002,210.86215,1.40
3,Afghanistan,2003,229.96822,1.40
4,Afghanistan,2004,204.23125,1.20
...,...,...,...,...
3644,Zimbabwe,2016,3227.68020,10.00
3645,Zimbabwe,2017,3068.01150,9.51
3646,Zimbabwe,2018,3441.98580,9.83
3647,Zimbabwe,2019,3003.65530,10.47
3648,Zimbabwe,2020,2680.13180,10.00

In [43]:
# 9. Comparative Analysis
highest_renewable_countries = sus.nlargest(5, 'Renewable energy share in the total final energy consumption (%)')
highest_renewable_countries

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
550,Burundi,2004,3.763859,0.3,7.61,NaN,96.04,0.00,0.0,0.09,...,174.65433,9.66,150.000006,NaN,4.833658,128.336703,463,27830.0,-3.373056,29.918886
551,Burundi,2005,3.207317,0.3,7.38,NaN,96.01,0.00,0.0,0.09,...,145.98683,9.48,150.000006,NaN,0.900000,151.681566,463,27830.0,-3.373056,29.918886
549,Burundi,2003,3.445382,0.3,7.85,NaN,95.76,0.00,0.0,0.10,...,157.22882,10.05,159.999996,NaN,-1.223728,113.567251,463,27830.0,-3.373056,29.918886
1134,Ethiopia,2000,12.700000,0.9,6.12,1500000.0,95.55,0.06,0.0,1.64,...,287.99124,21.38,3560.000000,NaN,6.073217,124.460791,115,1104300.0,9.145000,40.489673
3420,Uganda,2002,7.800000,0.9,11.96,3710000.0,95.35,0.04,0.0,1.67,...,423.49295,13.36,1490.000010,NaN,8.732686,245.500040,229,241038.0,1.373333,32.290275

In [44]:
lowest_renewable_countries = sus.nsmallest(5, 'Renewable energy share in the total final energy consumption (%)')
lowest_renewable_countries

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
84,Antigua and Barbuda,2000,97.689260,100.0,0.0,NaN,0.0,0.14,0.0,0.0,...,28457.223,3.13,330.000000,NaN,6.203431,10872.29295,223,443.0,17.060816,-61.796428
85,Antigua and Barbuda,2001,97.785255,100.0,0.0,NaN,0.0,0.16,0.0,0.0,...,28025.290,3.31,350.000000,NaN,-4.548003,10367.31961,223,443.0,17.060816,-61.796428
86,Antigua and Barbuda,2002,100.000000,100.0,0.0,NaN,0.0,0.18,0.0,0.0,...,29660.344,3.59,389.999986,NaN,1.027442,10401.05088,223,443.0,17.060816,-61.796428
87,Antigua and Barbuda,2003,97.956825,100.0,0.0,NaN,0.0,0.20,0.0,0.0,...,30824.252,3.63,409.999996,NaN,6.076544,10797.95106,223,443.0,17.060816,-61.796428
88,Antigua and Barbuda,2004,98.037100,100.0,0.0,NaN,0.0,0.21,0.0,0.0,...,31622.059,3.57,400.000006,NaN,5.767029,11446.96914,223,443.0,17.060816,-61.796428